:root {
  --color-gray-100: #ffffff;
  --color-gray-150: #f9f9f9;
  --color-gray-200: #f5f6f7;
  --color-gray-250: #efefef;
  --color-gray-260: #e5e7ea;
  --color-gray-300: #dadada;
  --color-gray-400: #ccd0d5;
  --color-gray-500: #bec3c9;
  --color-gray-550: #adadad;
  --color-gray-600: #8d949e;
  --color-gray-650: #757474;
  --color-gray-700: #606770;
  --color-gray-800: #444950;
  --color-gray-850: #303846;
  --color-gray-900: #2c323c;
  --color-gray-950: #1c1e21;
  --color-font: var(--color-gray-900);
  --color-card: var(--color-gray-100);
  --color-blue-200: #ebeef5;
  --blockquote-text: #999999;
  --blockquote-bg: #f6f6f7;
  --blockquote-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M3.691 6.292C5.094 4.771 7.217 4 10 4h1v2.819l-.804.161c-1.37.274-2.323.813-2.833 1.604A2.9 2.9 0 0 0 6.925 10H10a1 1 0 0 1 1 1v7c0 1.103-.897 2-2 2H3a1 1 0 0 1-1-1v-5l.003-2.919c-.009-.111-.199-2.741 1.688-4.789M20 20h-6a1 1 0 0 1-1-1v-5l.003-2.919c-.009-.111-.199-2.741 1.688-4.789C16.094 4.771 18.217 4 21 4h1v2.819l-.804.161c-1.37.274-2.323.813-2.833 1.604A2.9 2.9 0 0 0 17.925 10H21a1 1 0 0 1 1 1v7c0 1.103-.897 2-2 2'/%3E%3C/svg%3E");
}

html.nightmode {
  --color-gray-100: #1c1e21;
  --color-gray-150: #2c323c;
  --color-gray-200: #303846;
  --color-gray-250: #444950;
  --color-gray-260: #555b64;
  --color-gray-300: #606770;
  --color-gray-400: #757474;
  --color-gray-500: #8d949e;
  --color-gray-550: #959595;
  --color-gray-600: #bec3c9;
  --color-gray-650: #ccd0d5;
  --color-gray-700: #dadada;
  --color-gray-800: #eaecef;
  --color-gray-850: #f5f6f7;
  --color-gray-900: #f9f9f9;
  --color-gray-950: #ffffff;
  --color-font: var(--color-gray-600);
  --color-card: var(--color-gray-150);
  --color-blue-200: #444950;
  --blockquote-text: #8d949e;
  --blockquote-bg: #2b2b2b;
  --blockquote-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23ccc' d='M3.691 6.292C5.094 4.771 7.217 4 10 4h1v2.819l-.804.161c-1.37.274-2.323.813-2.833 1.604A2.9 2.9 0 0 0 6.925 10H10a1 1 0 0 1 1 1v7c0 1.103-.897 2-2 2H3a1 1 0 0 1-1-1v-5l.003-2.919c-.009-.111-.199-2.741 1.688-4.789M20 20h-6a1 1 0 0 1-1-1v-5l.003-2.919c-.009-.111-.199-2.741 1.688-4.789C16.094 4.771 18.217 4 21 4h1v2.819l-.804.161c-1.37.274-2.323.813-2.833 1.604A2.9 2.9 0 0 0 17.925 10H21a1 1 0 0 1 1 1v7c0 1.103-.897 2-2 2'/%3E%3C/svg%3E");
}

::selection {
  color: $selection-color;
  background-color: $selection-bg;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $font-size-rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: var(--color-font);
  background-color: var(--color-gray-250);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-family: $font-family-heading;
  font-weight: $font-weight-bolder;
  line-height: $line-height-heading;
}

for size in 1 .. 6 {
  h{size} {
    font-size: $font-size-headings[size - 1];
  }
}

p {
  margin: 0 0 1rem;
}

a {
  text-decoration: none;
  color: $link-color;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

img,
video,
iframe {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

hr {
  margin: 1rem 0;
  border: 2px dashed $hr-color;
  height: 0;
}

blockquote {
  position: relative;
  padding: 8px 20px 8px 36px;
  margin: 16px 0;
  color: var(--blockquote-text);
  background-color: var(--blockquote-bg);
  border-radius: 8px;

  &::before {
    position: absolute;
    top: 0;
    left: 4px;
    width: 24px;
    height: 24px;
    content: "";
    background-image: var(--blockquote-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.3;
  }

  & > p {
    margin: 0;
    font-size: 16px;
    color: inherit;
  }
}

code {
  break-word();
  border-radius: 3px;
  padding: 1px 5px;
  font-family: $font-family-code;
  font-size: .95em;
  color: var(--color-gray-700);
  background-color: var(--color-gray-200);
}

dt {
  font-weight: $font-weight-bolder;
}

dd {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

th,
td {
  border: 1px solid var(--color-blue-200);
  padding: .5rem .75rem;
  text-align: left;
}

th {
  font-weight: $font-weight-bolder;
  color: var(--color-gray-950);
  background-color: var(--color-gray-200);
}

tbody tr {
  transition: background-color .2s ease;

  &:nth-of-type(even) {
    background-color: var(--color-gray-150);
  }

  &:hover {
    background-color: var(--color-blue-200);
  }
}

acronym,
abbr {
  cursor: help;
}

kbd {
  display: inline-block;
  border: 1px solid var(--color-gray-500);
  border-radius: 3px;
  padding: .1rem .2rem;
  font-family: $font-family-kbd;
  font-size: .85em;
  font-weight: $font-weight-bolder;
  line-height: 1;
  white-space: nowrap;
  color: var(--color-gray-850);
  background-color: var(--color-gray-150);
  box-shadow: 0 -1px 0 var(--color-gray-300) inset;
}
