.copy-button {
  position: absolute;
  top: .3rem;
  right: .4rem;
  z-index: 1;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  cursor: pointer;
  border-radius: .2rem;
  opacity: 0;
  transition: opacity .2s ease-in-out;

  i {
    color: $copy-button-color;
    font-size: .8rem;
    transition: color .2s ease-in-out;
  }

  &:hover {
    i {
      color: var(--color-gray-800);
    }
  }
}

.highlight {
  position: relative;

  &:hover .copy-button {
    opacity: 1;
  }
}
